body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #1592d6;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.contacto {
    display: flex;
}

.contacto a {
    margin: 0 10px;
}

.contacto img {
    width: 20px;
    height: 20px;
}

.banner {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}

.video-background {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
  
  .video-background video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .video-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: center;
  }
footer {
    background-color: #0ec4d1;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.social-media {
    display: flex;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 20px;
    height: 20px;
}